% templates/sections/paper.tex.mustache
\documentclass{article}
\usepackage[margin=1in]{geometry}
\usepackage{amsmath,amssymb}
\usepackage{mathtools}
\usepackage{amsthm}
\usepackage{standalone}
\usepackage{graphicx}
\usepackage{booktabs}
\usepackage{hyperref}
\usepackage{xcolor}

\newtheorem{theorem}{Theorem}

\title{Mathematical Structure of the 4D GSPT-SBL Governing System:\\
Analysis of Nocturnal Boundary Layer Dynamics over {{dataset}}}

\author{
    \textbf{David E. England, PhD} \\
    Research Engineer III \\
    University of Alabama in Huntsville (UAH) \\
    Email: \href{mailto:david.england@uah.edu}{david.england@uah.edu} \\
    ORCID: \href{https://orcid.org/0009-0001-2095-6646}{0009-0001-2095-6646}
}
\date{\small Assembled Automatically: {{generated_date_human}}}

\begin{document}

\maketitle

\nopagebreak
\begin{center}
    \small\itshape\color{gray}
    This manuscript is assembled automatically from version-controlled section templates,
    generated diagnostics, and reproducible figure artifacts. \\
    Source code and pipeline repository: \href{https://github.com/DavidEngland/StableBoundaryLayerGSPT}{github.com/DavidEngland/StableBoundaryLayerGSPT}
\end{center}
\vspace{1em}

{{{abstract_tex}}}

{{{template_sections_tex}}}
\newpage
\section{Bifurcation Figures}

{{{figure_tex_includes}}}
\end{document}